.container {
	margin: 0 auto;
	padding: 0 $base-spacing;
	max-width: map-get($breakpoints, large);
}

.content {
	position: relative;
}

.contents-menu,
.main {
	width: 100%;
}

.contents-menu {

	@include mq(medium) {
		position: absolute;
		top: 0;
		width: 20%;
	}

	/* States */
	&.is-sticky {
		position: fixed;
		top: $base-spacing;
	}

}

.main {
	margin: 0 0 $base-spacing;

	@include mq(medium) {
		float: left;
		width: 80%;
		margin: 0 0 $base-spacing 20%;
		padding: 0 0 0 $base-spacing;
		border-left: $base-border;
	}
}