body {
  color: $base-font-color;
  font-family: $base-font-family;
  font-size: $base-font-size;
  line-height: $base-line-height;
  font-weight: normal;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  background-color: $base-background-color;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $header-font-family;
  line-height: $header-line-height;
  margin: 0;
  text-transform: uppercase;
  font-weight: normal;
  font-style: normal;
}

h1 {
  font-size: ms(6);
}

h2 {
  font-size: ms(5);
}

h3 {
  font-size: ms(4);
}

h4 {
  font-size: ms(3);
}

h5 {
  font-size: ms(2);
}

h6 {
  font-size: ms(1);
}

p {
  margin: 0 0 ($base-spacing);
}

a {
  color: $base-link-color;
  text-decoration: none;
  //transition: color $base-animation-timing $ease-in-out-quad;
  cursor: pointer;

  &:hover {
    color: $hover-link-color;
  }

  &:active, &:focus {
    color: $hover-link-color;
    outline: none;
  }
}

blockquote {
  margin: $base-spacing 0 $base-spacing/2;
}

cite {
  font-size: normal;
  font-style: normal;
  font-family:"Futura W01 Bold";
  font-size: ms(-2);

  &:before {
    content: "\2014 \00A0";
  }
}