/*
 * Natural Box Layout Model
 * http://www.paulirish.com/2012/box-sizing-border-box-ftw/
 */
html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}


/*
 * Set States for Media Query Detection in JS
 */
body:after {
    display: none;
    content: 'small';

    @include mq(medium) {
        content: 'medium';
    }

}


/*
 * A better looking default horizontal rule
 */
hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: $base-border;
    margin: 0 0 $base-spacing/2;
}