/*
* Headline Font / Futura Bold
*/
@font-face {
    font-family:"Futura W01 Bold";
    src:url("../../../fonts/3b3d00eb-6d89-47ec-83ee-48276a47ad94.eot?#iefix");
    src:url("../../../fonts/3b3d00eb-6d89-47ec-83ee-48276a47ad94.eot?#iefix") format("eot"),
    url("../../../fonts/2a65cbfc-5071-4b4d-bfc2-e052bb091ee2.woff") format("woff"),
    url("../../../fonts/812f781d-aa66-47a1-b6a2-7941effc1527.ttf") format("truetype"),
    url("../../../fonts/2a371030-ff67-40ac-8307-082c1fccf151.svg#2a371030-ff67-40ac-8307-082c1fccf151") format("svg");
}


/*
* Body Font / Museo Slab
*/
@font-face {
    font-family:"Museo Slab W01 300";
    src:url("../../../fonts/39a8c847-6d65-44ec-92e6-46e2aa8db834.eot?#iefix");
    src:url("../../../fonts/39a8c847-6d65-44ec-92e6-46e2aa8db834.eot?#iefix") format("eot"),
    url("../../../fonts/4548ac88-af2c-4b63-ac2b-94e9ef6cd1b9.woff") format("woff"),
    url("../../../fonts/380327b2-8e54-40b1-a569-eb17e46f7e17.ttf") format("truetype"),
    url("../../../fonts/dedfb9ca-341f-404d-b76e-d781f9ee375f.svg#dedfb9ca-341f-404d-b76e-d781f9ee375f") format("svg");
}